<html>
    <head>
    </head>
    <body>
        <h2>Counter</h2>
            <%= session_counter.count; %>
        <br><br>
        <button><a href="/reset">Reset!</a></button>
        <br><br>
        <button><a href="/increment">+2!</a></button>
    </body>
</html>