<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playlist Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-12 col-md-8">
                <h2>Welcome {{specific_user.first_name}}!</h2>
            </div>
            <div class="col-6 col-md-4">
            <a href="/logout">Log Out</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h3>Your Playlists</h3>
                {% for info in user_playlist %}
                    {{info.title}} {{info.name}} {{info.id}}
                {% endfor %}


            </div>
            <div class="col-6">
                <h3>New Playlists</h3>


                <h3>Add a New Song</h3>
                <form class="" action="{% url 'playlist:add_song' %}" method="post">
                    {% csrf_token %}  
                    <p>Name:</p><input type="text" name="song"></input>
                    <p>Artist:</p><input type="text" name="artist"></input>
                    <p>Song Length:</p><input type="text" name="song_length"></input>
                    <br><br>
                    <input type="submit" class="btn btn-primary">
                    <input type="hidden" name="user_id" value="{{specific_user.id}}">
                </form>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                {% endif %}
                </ul>

            </div>