
.container {
    background-color: #1C345D;
    height: 1000px;
    width: 970px;
    padding: 10px;
}
.container>h1 {
    padding: 50px;
}
.header {
    height: 50px;
    width: 940px;
    background-color: #c73733;
    border-radius: 10px;
    text-align: left;
    padding: 15px;
}
h1 {
    color: white;
    margin: 0px;
}
.java {
    color: white;
}
p {
    color: white;
    margin: 5px;
    padding: 0px;
}
.nav_bar {
    background-color: #2A7D8C;
    height: 260px;
    width: 200px;
    display: inline-block;
    border-radius: 25px;
    padding: 10px;
    vertical-align: top;
    margin: 10px;
    font-size: 12pt;
}
.main_content {
    background-color: #0E1822;
    height: 400px;
    width: 650px;
    display: inline-block;
    margin: 10px;
    border-radius: 25px;
    vertical-align: top;
    padding: 10px;
    color: white;
}
.footer {
    background-color: #5D6573;
    height: 50px;
    width: 970px;
    border-radius: 25px;
    vertical-align: bottom;
}
.footer>p {
    padding: 15px;
}
h2 {
    padding: 0px;
    margin: 0px;
}
ul {
    margin: 0px;
}