@{
    ViewData["Title"] = "Form Submission";
}
<h1>Enter Your Information</h1>
<form action="process" method="post">
    <p>First Name:</p><input type="text"name="First_Name_Field">
    <p>Last Name:</p><input type="text" name="Last_Name_Field">
    <p>Age:</p><input type="number" name="Age_Field">
    <p>Email Address:</p><input type="email" name="Email_Field">
    <p>Password:</p><input type="password" name="Password_Field">
    <br><br>
    <p><input type="submit"></p>
</form>