<!DOCTYPE html>
    <html>
        <head>
            <meta charset='utf-8'>
            <title>JEler Portfolio</title>
            <link rel="stylesheet" href="~/css/home.css"/>
        </head>
        <body>
            <div class="navbar">
                <a href="/Projects">Projects</a> <a href="/Form">Form</a>
            </div>
            <h1>Jennifer Eler's Portfolio</h1>
            <img src="../images/megood.jpg" />
            <div class="personalinfo">
                <p>Name: Jennifer Eler</p>
                <p>Age: 30</p>
                <p>Location: Chicago,IL</p>  
            </div>
        </body>
    </html>