<div class="container-fluid">
    <h2 class="bikeoftheday">Boardgame of the day!</h2>
        <div class="randomGame col-8" >
            <div class="row">
                <div class="col-9">
                    <h2>{{random?.title}}</h2>
                    <p>{{random?.description}}</p>
                    <p>Condition: {{random?.condition}} </p>
                </div>
                <div class="col-4-sm">
                    <h2>${{random?.price}}</h2>
                    <p>{{random?.location}}</p>
                </div>
            </div>
        </div>
        <br><br>
    <div class="col forms">
        <div class= "row">
            <div class="col-2-sm register">
                <form #registerform="ngForm" (submit) = onSubmit()>
                        <p>Email Address:
                        <input type="text" 
                        name="UserReg.email" required [(ngModel)]="UserReg.email" #email ="ngModel" /> </p> 
                        <p>First Name:
                        <input type="text" name="UserReg.first_name" [(ngModel)]="UserReg.first_name" required minlength="2" #firstname ="ngModel"/></p>
                        <div class="error"*ngIf="!firstname.valid && firstname.touched">First name must contain 2 characters!</div> 
                        <p>Last Name:
                        <input type="text" name="UserReg.last_name" [(ngModel)]="UserReg.last_name"  required minlength="2" #lastname="ngModel"/></p>
                        <div class="error"*ngIf="!lastname.valid && lastname.touched">Last name must contain 2 characters!</div>  
                        <p>Password:
                        <input type="password" name="UserReg.password" [(ngModel)]="UserReg.password" #password="ngModel" required minlength="8"/></p>
                        <div class="error"*ngIf="!password.valid">Password contain at least 8 characters!</div>        
                        <p>Password Confirmation
                        <input type="password" name="UserReg.password_confirm" [(ngModel)]="UserReg.password_confirm" /></p> 
                        <div class="error" *ngIf="UserReg.password != UserReg.password_confirm">Passwords do not match!</div>
                        <input type="submit"[disabled]="!registerform.form.valid" class="btn btn-success" value="Register">
                    </form>
            </div>
            <div class="col-10-sm login">     
                <form #loginform = "ngForm" (submit) = onLogin()>
                    <p>Email Address:</p>
                    <input type="email" name="UserLog.email" [(ngModel)]="UserLog.email" required #logemail="ngModel" >
                    <div class="error"*ngIf="!logemail.valid && logemail.touched">You need to enter an email!</div>
                    <div class="error" *ngIf="LogError">{{LogError}}</div>
                    <p>Password:</p>
                    <input type="password" name="UserLog.password" [(ngModel)]="UserLog.password" #password="ngModel"required>
                    <div class="error"*ngIf="!password.valid &&password.touched">You need to enter a password!</div>
                    <div class="error" *ngIf="PwError">{{PwError}}</div>
                    <br>
                    <input type="submit" [disabled] ="!loginform.form.valid">
                </form>
            </div>
        </div>
    </div>
</div>
