<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'survey/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
    <title>Survey</title>
</head>
<body>
    <div class="form">
    <form action="/process" method = "post">
        {% csrf_token %}
        Your Name:  <input type="text" name ="first_name" value="jenny"></input>
        <br><br>
        Dojo Location: <select name ="location">
            <option>Chicago</option>
            <option>Seattle</option>
            <option>Austin</option>
        </select>
        <br><br>
        Favorite Language: <select name="language">
            <option>Javascript</option>
            <option>C#</option>
            <option>Ruby on Rails</option>
            <option>Python</option>
        </select>
        <br><br>
        Comment: <input type="text" name="comment"  style="width: 300px"></input>
        <input type="Submit" value="Click for Candy">
    </form>
    </div>
</body>
</html>