@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Lost in the Woods</h1>
        </div>
        <div class="col">
            <h3>List of local hiking trails</h3>
        </div>
    </div>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Length</th>
                        <th>Elevation</th>
                    </tr>
                </thead>
    @{   foreach(var item in ViewBag.hikes) {
                <tbody>
                    <tr>
                        <td><a href="/lostinthewoods/trails/@item.Id">@item.Name</a></td>
                        <td>@item.Length</td>
                        <td>@item.Elevation</td>
                    </tr>
                </tbody>        
        }
    }
            </table>

    <p><button><a href="/lostinthewoods/NewTrail">Create Record</a></button></p>
</div>
