<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Number Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rwg/css/rwg.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <h3>Random word (attempt # {{request.session.counter}})</h3>
    {{request.session.random_word}}
    <form action = "/guess" method = "post">
        {% csrf_token %}
        <input type="Submit" value="generate">
    </form>
    <a href="/reset"><button>Reset!</button></a>
</body>
</html>