<html>
    <head>
    </head>
    <body>
        <form action="/result" method="post">
            <p>Your Name</p>
            <input type="text" name="name">
            <p>Dojo Location</p>
            <select name="location">
                <option>Mountain View</option>
                <option>Chicago</option>
                <option>Seattle</option>
                <option>Oklahoma</option>
            </select>
            <p>Favorite Language</p>
            <select name="language">
                <option>Javascript</option>
                <option>C#</option>
                <option>PHP</option>
                <option>Java</option>
            </select>
            <p>Comment (optional)</p>
            <input type="texr" name="comment">
            <br><br>
            <input type="submit" value="click for candy">
        </form>
    </body>
</html>