@model dojo_league.Models.Dojo

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h2>@ViewBag.specific_dojo.name</h2>
    <p>Dojo Location: @ViewBag.specific_dojo.location</p>
    <p>Information: @ViewBag.specific_dojo.information</p>
    <div class="row">
        <div class="col">
            <h2>Current Members</h2>
        </div>
        <div class="col">
            <h2>Rogue Ninjas</h2>
        </div>
    </div>    
</div>