<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Reviews</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row justify-content-end">
            <a href="/books">Home |   </a><a href="/books/add">Add Book and Review |   </a><a href="/logout">Log Out</a>
        </div>
        <div class="row">
            <div class="col">
                {% for data in user_info %}

                <h3>User Alias: {{data.alias}}</h3>
                <p>Name: {{data.name}}</p>
                <p>Email: {{data.email}}</p>
                <p>Total Reviews: {{user_review_count}}</p>
                {% endfor %}

                <h3>Posted Reviews on the Following Books:</h3>
                {% for data in other_books %}
                    <p><a href="/books/{{data.books.id}}">{{data.books.book_title}}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>