/* .search_bar {
    margin: 10px;
}

.search {
    padding-left: 50%;
} */

/* .search_bar input[type=text] {
    float: left;
    padding: 6px;
    border: black 1 px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
} */

.right {
    /* padding-left: 100px; */
    font-size: 16pt;
}
.game {
    border: 2px solid black;
}